

  /* #region загальні */
  body{
    font-family: "Roboto", serif;
    color: #434455;
    background-color: #fff;
  }

  ul, ol {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  /* #endregion */

  /* #region header */  
  .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
  }
   .header-logo .logo-part {
    color: #2e2f42;
  }

  .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
  }

.contact {
    font-style: normal;
}
        
  .contact-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
  }  
  
  .nav-link:hover,
  .nav-link:focus,
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

/* #endregion */

  /* #region hero */ 
    .hero {
        background-color: #2e2f42;
        }
    .hero-title{
            font-weight: 700;
            font-size: 56px;
            line-height: 1.08;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
    }

    .hero-button {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            background-color: #4d5ae5;
    }

.hero-button:hover,
.hero-button:focus {
       background: #404bbf; 
}
    /* #endregion */

  /* #region advantages */
        

.advantages-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.advantages-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* #endregion */

 /* #region team */
 
.team {
    background: #f4f4fd;
}

.team-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-item {
 background: #fff;
}

.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-role {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* #endregion */

/* #region portfolio */

.portfolio-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;  
}

.project-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;  
}

.category {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region footer */

.footer {
    background-color: #2e2f42;
}

    .footer-logo .logo-part {
    color: #f4f4fd;
    }

    .footer-text {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
    }
    
    /* #endregion */