

  /* #region загальні */
  body{
    font-family: "Roboto", serif;
    color: #434455;
    background-color: #fff;
  }

  ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}




  /* #endregion */

  /* #region header */  

  .page-header{
    border-bottom: 1px solid #e7e9fc;
  }

  .header-container{
    display: flex;
    align-items: center;
  }

  .header-nav{
    display: flex;
    align-items: center;
  }

  .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
  }
   .header-logo .logo-part {
    color: #2e2f42;
  }

  .header-logo {
   padding: 24px 0;
    margin-right: 76px;
  }

 .nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
    
  }

  .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
  }

.contact {
    font-style: normal;
    margin-left: auto;
}
        .contact-list{
            display: flex;
            align-items: center;
            gap: 40px;

        }

  .contact-link {
    display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0;
  }  
  
  .nav-link:hover,
  .nav-link:focus,
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

/* #endregion */

  /* #region hero */ 
    .hero {
        background-color: #2e2f42;
        padding: 188px 0 188px
        }

    .hero-title {
            font-weight: 700;
            font-size: 56px;
            line-height: 1.08;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
            margin: 0 auto;
            padding-bottom: 48px;
            max-width: 496px;
            
    } 
                   
         .hero-button {
            background-color: #4d5ae5;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
            border: 0;
            padding: 16px 32px;
            text-align: center;
            display: block;
            margin: 0 auto;
            min-width: 169px
         }

.hero-button:hover,
.hero-button:focus {
       background: #404bbf; 
}
    /* #endregion */

  /* #region advantages */
        
.advantages-title {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
            
        }

        .advantages {
            padding-top: 120px;
            padding-bottom: 120px;
        }

    .advantages-list {
    display: flex;
    gap: 24px; 
               }
        .advantages-item {
        width: calc((100% - 72px) / 4);   
            }
               

.advantages-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px
}
.advantages-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* #endregion */

 /* #region team */
 
.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-item {
 background: #fff;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.team-image {
display: block,
 max-width: 100%,
 height: auto    
}
 .team-div{
    padding: 32px 16px;
 }

.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-role {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* #endregion */

/* #region portfolio */

.portfolio {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-div {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-image {
display: block,
max-width: 100%,
height: auto  
}

.portfolio-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42; 
margin-bottom: 72px;
}

.project-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;  
margin-bottom: 8px;
}

.category {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region footer */


.footer {
    padding: 120px 0;
    background-color: #2e2f42;
}

    .footer-logo .logo-part {
    color: #f4f4fd;
    }
.footer-logo {
   display: inline-block;
        margin-bottom: 16px; 
}
        
    .footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px
        }
    
    /* #endregion */
